{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "solid"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    //"plugin:@typescript-eslint/recommended-requiring-type-checking",
    //"plugin:@typescript-eslint/strict",
    "plugin:solid/typescript",
    "plugin:prettier/recommended"
  ]
}